.bt-2{
    margin-left: 35%;
    background-color: rgb(88, 3, 3);
}

.book{
    font-family: 'Lobster', sans-serif;
}

.bord{
    border-top-style: dotted;
    border-bottom-style: dotted;

}

.gradient-text {
    background-image: linear-gradient(60deg, #3CA55C, #B5AC49);
    background-clip: text;
    color: transparent;
  }