.clr{
    background-color: rgb(12, 12, 31);
}

.back-img{
    background-image: url("../banner.png");
    background-repeat: no-repeat;
}
.item{
    background-color: #0c0c13d8;
}

.item-footer{
    background-color: #01010c15 !important;
}


input{
    background-color:  #01010ca1 !important;
}

::placeholder{
    color: rgb(189, 188, 188) !important;
}